:root {
    --grid-cols: 1;
    --grid-rows: 1;
}

body {
    font-family: 'Crimson Text', serif;
    background-color: hsl(40, 70%, 95%);
}

.container {
    display: grid;
    grid-template-columns: repeat(var(--grid-cols), 1fr);
    grid-template-rows: repeat(var(--grid-rows), 1fr);
    height: 512px;
    width: 512px;
    border: 3px solid #ddd;
    background-color: whitesmoke;
}

.grid-item {
    text-align: center;
}

.canvas {
    display: flex;
    align-items: center;
    justify-content: center;
}

.name {
    text-align: center;
    font-size: xx-large;
    margin-bottom: 0px;
}

.cc {
    text-align: center;
    font-size: x-large;
    margin-top: 0px;
}

.options {
    display: flex;
    align-items: center;
    width: 512px;
    height: 64px;
    border: 3px solid #ddd;
    margin: auto;
    margin-top: 6px;
    justify-content: space-around;
    background-color: hsl(40, 38%, 77%);
    color: hsl(44, 34%, 32%);
}

#gridSize {
    padding: 8px;
    color: hsl(10, 25%, 20%);
    background-color: hsl(40, 70%, 95%);
}

#default {
    margin-bottom: 4px;
}

#rainbow {
    margin-bottom: 4px;
}